@import '../../styles/main.scss';
.markdown {
  > * {
    line-height: 29px;
  }

  p,
  li {
    color: $word-1;
  }

  blockquote {
    margin: 0;
    padding: 0.1em 1em 0.1em 0.1em;
    border-left: 0.4rem solid $primary;
    background: $light;
  }

  blockquote p {
    margin-left: 1rem;
  }

  blockquote a {
    color: $primary;
  }

  blockquote a:hover {
    border-bottom: 1px solid;
  }

  blockquote > ol {
    padding-left: 2rem;
  }
  blockquote > ul {
    padding-left: 2rem;
  }

  table {
    padding: 0;
  }

  table * {
    font-size: small;
  }

  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }
  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid $word-2;
  }

  h2 {
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $word-2;
  }
  h3 {
    font-weight: 500;
  }

  hr {
    border-bottom: 2px solid $word-2;
  }

  img[width] {
    width: 80%; //default
  }

  @for $i from 1 to 20 {
    img[width='#{$i * 5}%'] {
      width: $i * 5% !important;
    }
  }

  & > {
    ul,
    ol {
      padding-left: 1.2rem;
      ul,
      ol {
        padding-left: 2rem;
      }
    }
  }

  p a {
    display: inline;
    color: $word-3;
    padding-bottom: 0.05rem;
    box-shadow: inset 0 -1px 0 $word-3;
  }

  p a:hover {
    box-shadow: none;
    color: $primary;
    * {
      color: $primary;
    }
  }

  strong {
    font-weight: 600;
  }

  a {
    strong {
      color: $word-3;
    }
  }

  code[class*='language-'],
  pre[class*='language-'] {
    color: #ccc;
    background: none;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1em;
    overflow: auto;

    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: $word-5;
    border-radius: 0.25em;
    * {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.3px;
      font-family: 'Azeret Mono', monospace !important;
    }
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 0 0.25em 0.1em 0.25em;
    border-radius: 0.1em;
    font-weight: 600;
    background-color: #ececec;
    color: $primary;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #ccc;
  }

  .token.parameter {
    color: #e2777a;
  }

  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #e2777a;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #eec230;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #f8c555;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #569cd6;
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: #72df51;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #67cdcc;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }

  .token .interpolation {
    color: rgb(167, 100, 230);
  }

  @media screen and (max-width: 576px) {
    img[width] {
      width: 100% !important;
    }
  }
}
