@import '../styles/main.scss';
body.dark {
  //body
  color: #ffffff;
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;

  //date
  .date {
    color: $dark-date-color;
  }

  //utils
  .is-primary {
    color: $dark-primary-color !important;
  }

  //nav-bar
  .nav-container {
    background-color: $dark-background-color;
  }

  .search-box {
    input {
      color: inherit;
      background-color: $dark-background-color;
    }
    svg * {
      color: #ffffff;
    }
  }

  .nav-title {
    a {
      color: $dark-primary-color;
    }
  }

  .nav-search {
    .search-box {
      input {
        border: 2px solid $dark-primary-color;
      }
    }
  }

  .nav-links {
    a::after {
      background-color: $dark-primary-color;
    }
  }

  .nav-underline {
    background: $dark-nav-underline-background-color;
  }

  //side-bar
  .side-bar {
    background-color: $dark-background-color;
    border-right: 2px solid $dark-sidebar-right-border-color;
    > div {
      border-left: 5px solid $dark-background-color;
    }
  }

  .side-bar-open-btn {
    background: $dark-primary-color;
    svg * {
      color: $dark-background-color;
    }
  }

  .sidebar-catgory-header {
    &.is-primary {
      border-color: $dark-primary-color !important;
    }
    a:hover {
      color: $dark-primary-color;
    }
  }

  .sidebar-category {
    &.is-primary {
      border-color: $dark-primary-color !important;
    }
    button {
      &.is-primary {
        i svg * {
          color: $dark-primary-color;
        }
      }
      &:hover {
        color: $dark-primary-color;
        i svg * {
          color: $dark-primary-color;
        }
      }
    }
  }

  .side-bar-cat-links {
    a {
      color: $dark-sidebar-cat-link-color;
      &:hover {
        color: $dark-primary-color;
      }
    }
  }

  //markdown
  .markdown {
    blockquote {
      background-color: $dark-markdown-blq-background-color;
      border-color: $dark-primary-color;
    }

    /* Code blocks */
    pre[class*='language-'] {
      background-color: $dark-markdown-code-background-color;
    }

    /* Inline code */
    :not(pre) > code[class*='language-'] {
      background-color: $dark-markdown-blq-background-color;
      color: $dark-primary-color;
    }

    /*table highdark*/
    table tr:nth-child(2n) {
      background-color: $dark-markdown-blq-background-color;
    }
  }

  //post
  .post-navigator {
    > div {
      border-color: $dark-post-navigator-border-color;
      background-color: $dark-post-navigator-background-color;
      a {
        .post-signpost {
          color: $dark-primary-color;
        }
      }
    }
  }

  //project link
  .project-link {
    border-color: $dark-item-box-border-color;
    box-shadow: $dark-item-box-shadow;
    &:hover {
      background-color: $dark-markdown-blq-background-color;
    }
    .project-link-tech {
      * {
        color: $dark-primary-color;
      }
    }
    .project-link-period {
      color: $dark-date-color;
    }
    .project-link-desc {
      color: $dark-text-darker-color;
    }
  }

  //post-item
  .post-item-container {
    border-color: $dark-item-box-border-color;
    box-shadow: $dark-item-box-shadow;
    &:hover {
      background: $dark-markdown-blq-background-color;
    }
  }
  .post-item {
    &-excerpt {
      color: $dark-text-darker-color;
    }
  }

  //search
  .search-result-container {
    background-color: $dark-background-color;
    border-color: $dark-item-box-border-color;
    box-shadow: $dark-item-box-shadow;
  }

  .search-result-item {
    color: $dark-text-darker-color;
    &:hover {
      .search-result-title {
        background-color: $dark-markdown-blq-background-color;
        border-color: $dark-item-box-border-color;
        box-shadow: $dark-item-box-shadow;
        color: $dark-primary-color;
      }
    }
  }
  .search-result-title {
    border-color: $dark-background-color;
  }
}
