body.light {
  /* body */
  color: $light-text-color-1;
  background-color: $light-background-color-1;
  text-shadow: $light-text-shadow;
  /* body end */

  /* date */
  .date {
    color: $light-text-color-3;
  }
  /* date end */

  /* utils */
  .is-primary {
    color: $light-primary-color !important;
  }
  /* utils end */

  /* nav-bar */
  .nav {
    background-color: $light-background-color-1;
  }

  .nav-title {
    a {
      color: $light-primary-color;
    }
  }

  .nav-links {
    a::after {
      background-color: $light-primary-color;
    }
  }

  .nav-links--mobile {
    background-color: $light-background-color-1;
  }

  .nav-underline {
    background: $light-nav-underline-background-color;
  }

  .nav-scroll-gauge {
    background: $light-nav-underline-background-color;
  }
  /* nav-bar end */

  /* side-bar */
  .side-bar {
    background-color: $light-background-color-1;
    border-color: $light-item-box-border-color;
  }

  .side-bar-open-btn {
    background: $light-primary-color;
    svg * {
      color: $light-background-color-1;
    }
  }

  .side-bar-catgory-header {
    &.is-primary {
      border-color: $light-primary-color !important;
    }
    a:hover {
      color: $light-primary-color;
    }
  }

  .side-bar-category {
    &.is-primary {
      border-color: $light-primary-color !important;
    }
    button {
      &.is-primary {
        i svg * {
          color: $light-primary-color;
        }
      }
      &:hover {
        color: $light-primary-color;
        i svg * {
          color: $light-primary-color;
        }
      }
    }
  }

  .side-bar-cat-links {
    a {
      color: $light-text-color-3;
      &:hover {
        color: $light-primary-color;
      }
    }
  }
  /* side-bar end */

  /* markdown */
  #markdown {
    blockquote {
      background-color: $light-background-color-2;
      border-color: $light-primary-color;
    }

    /* Code blocks */
    pre[class*='language-'] {
      background-color: $light-markdown-code-background-color;
    }

    /* Inline code */
    :not(pre) > code[class*='language-'] {
      background-color: $light-background-color-2;
      color: $light-primary-color;
    }

    /*table highlight*/
    table tr:nth-child(2n) {
      background-color: $light-background-color-2;
    }
  }
  /* markdown end */

  /* post */
  .post-tags {
    padding-top: 5px;
    padding-bottom: 5px;
    div {
      display: inline-block;
      background: $light-post-tag-background-color;
      color: $light-post-tag-color;
    }
  }

  .post-navigator {
    > div {
      border-color: $light-post-navigator-border-color;
      background-color: $light-post-navigator-background-color;
      a {
        .post-signpost {
          color: $light-primary-color;
        }
      }
    }
  }

  .post-item-container {
    border-color: $light-item-box-border-color;
    box-shadow: $light-item-box-shadow;
    &:hover {
      background: $light-background-color-2;
    }
  }

  .post-item {
    &-excerpt {
      color: $light-text-color-2;
    }
  }
  /* post end */

  /* project-link */
  .project-link {
    border-color: $light-item-box-border-color;
    box-shadow: $light-item-box-shadow;
    &:hover {
      background-color: $light-background-color-2;
    }
    .project-link-tech {
      * {
        color: $light-primary-color;
      }
    }
    .project-link-period {
      color: $light-text-color-3;
    }
    .project-link-desc {
      color: $light-text-color-2;
    }
  }
  /* project-link end */

  /* search */
  .search-box {
    svg * {
      color: $light-text-color-1;
    }
    input {
      border-color: $light-primary-color;
    }
  }

  .search-result-container {
    background-color: $light-background-color-1;
    border-color: $light-item-box-border-color;
    box-shadow: $light-item-box-shadow;
  }

  .search-result-item {
    color: $light-text-color-2;
    &:hover {
      .search-result-title {
        background-color: $light-background-color-2;
        border-color: $light-item-box-border-color;
        box-shadow: $light-item-box-shadow;
        color: $light-primary-color;
      }
    }
  }
  .search-result-title {
    border-color: $light-background-color-1;
  }
  /* search end */

  /* page */
  .page-descripton {
    color: $light-text-color-2;
  }
  /* page end */
}
