@import '../styles/main.scss';
body.light {
  //body
  color: #000000;
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  //utils
  .is-primary {
    color: $light-primary-color !important;
  }

  //nav-bar
  .nav-container {
    background-color: $light-background-color;
  }
  .search-box {
    input {
      background-color: $light-background-color;
    }
    svg * {
      color: black;
    }
  }
  .nav-title {
    a {
      color: $light-primary-color;
    }
  }
  .nav-search {
    .search-box {
      input {
        border: 2px solid $light-primary-color;
      }
    }
  }
  .nav-links {
    a::after {
      background-color: $light-primary-color;
    }
  }
  .nav-underline {
    background: $light-nav-underline-background-color;
  }

  //side-bar
  .side-bar {
    background-color: $light-background-color;
    border-right: 2px solid $light-sidebar-light-border-color;
    > div {
      border-left: 5px solid $light-background-color;
    }
  }

  .side-bar-open-btn {
    background: $light-primary-color;
    svg * {
      color: $light-background-color;
    }
  }

  .sidebar-catgory-header {
    &.is-primary {
      border-color: $light-primary-color !important;
    }
    a:hover {
      color: $light-primary-color;
    }
  }

  .sidebar-category {
    &.is-primary {
      border-color: $light-primary-color !important;
    }
    button {
      &.is-primary {
        i svg * {
          color: $light-primary-color;
        }
      }
      &:hover {
        color: $light-primary-color;
        i svg * {
          color: $light-primary-color;
        }
      }
    }
  }

  .side-bar-cat-links {
    a {
      color: $light-sidebar-cat-link-color;
      &:hover {
        color: $light-primary-color;
      }
    }
  }
}
