@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400&display=swap');

$light-primary-color: #2a7474;
$light-background-color: #fff;
$light-nav-border-color: #fff;

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin neumorphism-box {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 19px 19px 38px #b8b8b8, -19px -19px 38px #ffffff;
}

/// before
$primary: #2a7474;
$bg-1: #ffffff;
$word-1: #000000;
$word-2: #d5d4d4;
$word-3: #6e6e6e;
$word-4: #585858;
$word-5: #3a3939;
$dark: #757575;
$light: #f8f8f8;
$blue: #d7e4f7;
$green: #d8e7e2;
$pink: #f5d5e1;
$yellow: #faeed8;

@mixin flex() {
  display: flex;
  &.is-direction-column {
    flex-direction: column;
  }
  &.is-flex-wrap {
    flex-wrap: wrap;
  }
}

.is {
  &-flex {
    @include flex();
  }
  &-primary {
    color: $primary !important;
  }
  &-dark {
    color: $word-1 !important;
  }
  &-bg-pink {
    background: $pink !important;
  }
  &-bg-green {
    background: $green !important;
  }
  &-bg-yellow {
    background: $yellow !important;
  }
  &-bg-blue {
    background: $blue !important;
  }
  &-emphasize {
    color: $word-1;
    font-weight: 500;
    &.size-1 {
      font-size: large;
    }
    &.size-2 {
      font-size: larger;
    }
    &.size-3 {
      font-size: x-large;
    }
    &.size-4 {
      font-size: xx-large;
    }
  }
  &-padding-center {
    padding: 3rem 20% 3rem 20% !important;
  }
}
