@import './main.scss';
@import './utils.scss';

.markdown {
  blockquote {
    padding: 10px 0px;
    border-left: 5px solid;
    color: inherit;
    p {
      margin-left: 1rem;
    }
  }

  table {
    padding: 0;
  }

  table * {
    font-size: 1rem;
  }

  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }
  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  img[width] {
    width: 80%; //default
  }

  @for $i from 1 to 100 {
    img[width='#{$i}%'] {
      width: $i * 1% !important;
    }
  }

  code[class*='language-'],
  pre[class*='language-'] {
    color: #cccccc;
    background: none;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1rem;
    overflow: auto;
    border-radius: 7px;
    * {
      font-weight: 600;
    }
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 0.25rem 0.2rem;
    border-radius: 3px;
    font-weight: 600;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #ccc;
  }

  .token.parameter {
    color: #79cce0;
  }

  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #e2777a;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number {
    color: #eec230;
  }

  .token.function {
    color: rgb(195, 163, 239);
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #76a3d7;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: rgb(238, 130, 119);
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: rgb(175, 213, 251);
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #67cdcc;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }

  .token .interpolation {
    color: rgb(167, 100, 230);
  }

  @include mobile() {
    img[width] {
      width: 100% !important;
    }
  }
}
