$light-text-shadow: 0 0 0.3px rgba(0, 0, 0, 0.35);
$light-primary-color: rgb(42, 116, 116);
$light-background-color: #fff;
$light-nav-underline-background-color: linear-gradient(
  90deg,
  rgba(113, 107, 172, 1) 0%,
  rgba(42, 116, 116, 1) 51%,
  rgba(51, 126, 199, 1) 88%
);
$light-sidebar-light-border-color: #d9d9ef;
$light-sidebar-cat-link-color: #504d4d;

$dark-text-shadow: 0 0 0.3px rgba(255, 255, 255, 0.35);
$dark-primary-color: #d5c48b;
$dark-background-color: #282c35;
$dark-nav-underline-background-color: linear-gradient(
  90deg,
  rgba(174, 221, 123, 1) 0%,
  rgba(213, 195, 139, 1) 45%,
  rgba(238, 205, 51, 1) 88%
);
$dark-sidebar-light-border-color: #727272;
$dark-sidebar-cat-link-color: #c0c0c0;
