@import '../../styles/main.scss';
.switch-container {
  flex-basis: 950px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  padding: 0px 15px;
}

.switch {
  i svg * {
    color: #000000;
  }
}
