@import '../../styles/main.scss';
@import '../../styles/light-mode.scss';
@import '../../styles/dark-mode.scss';

* {
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  font-size: 15.5px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  transition: background-color 0.4s, color 0.4s;
}

.layout {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
