@import '../../styles/util.scss';

.post-item-container {
  :first-child {
    display: flex;
    flex-wrap: wrap;
  }
  padding: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 15px $word-1;
  box-shadow: 0 0 1.5px $word-1;
  &:hover {
    background: $light;
  }
}

.post-item {
  &-date {
    margin: {
      top: auto;
      right: auto;
      bottom: 0.5rem;
      left: 0;
    }
    font-size: 0.8rem;
    color: $dark;
  }
  &-title {
    flex-shrink: 0;
    font-weight: 500;
    color: $word-1;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  &-excerpt {
    color: $word-1;
    font: {
      size: small;
      weight: 500;
    }
  }
}
