.post-item-container {
  padding: 15px 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  border: 1px solid;
  min-height: 160px;
}

.post-item-info {
  display: flex;
  margin-bottom: 10px;
  font-family: Catamaran;
  div {
    margin-right: 7px;
    font-weight: 600;
    font-size: 0.97rem;
  }
}

.post-item-title {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 8px;
}

.post-item-excerpt {
  font-size: 0.95rem;
}
