@import '../../styles/utils.scss';

.post-item-container {
  padding: 15px 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  border: 1px solid;
  min-height: 160px;
}

.post-item-info {
  display: flex;
  margin-bottom: 10px;
  font-family: Catamaran, Pretendard;
  div {
    margin-right: 4px;
    font-weight: 600;
    font-size: 0.97rem;
  }
}

.post-item-title {
  font-family: Catamaran, Pretendard;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.post-item-excerpt {
  font-size: 0.95rem;
}

@include mobile() {
  .post-item-title {
    font-size: x-large;
    margin-bottom: 6px;
  }
}
