.sidebar-category {
  padding: 10px;
  button {
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    i {
      position: relative;
      top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
