@import '../../styles/util.scss';

.sidebar-category {
  border-left: 0.3rem solid $bg-1;
  min-height: 1.5rem;
  margin-bottom: 0.5rem;
  padding: {
    top: 0.5rem;
    right: 2rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  &.is-primary {
    border-left: 0.3rem solid $primary;
  }
  > button {
    background-color: $bg-1;
    border: 0;
    outline: 0;
    font-size: larger;
    margin: {
      right: auto;
      bottom: auto;
    }
  }
}

.post-btn {
  font-weight: 500;
  * {
    font-weight: 500;
  }
  .arrow {
    &.active {
      * {
        color: $primary;
      }
    }
    position: relative;
    top: 5px;
    left: 3px;
  }
  &:hover {
    color: $primary;
    .arrow {
      * {
        color: $primary;
      }
    }
  }
}
