.page-title {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 5px;
  h1 {
    margin: 10px 0px 0px 20px;
    padding: 0;
  }
}

.page-title-profile-img {
  overflow: hidden;
  isolation: isolate;
  border-radius: 50px;
}
