@import '../../styles/main.scss';
.side-bar {
  position: fixed;
  height: 100%;
  width: 275px;
  z-index: 999;
  top: 50;
  left: 0;
  background: $bg-1;
  overflow-x: scroll;
  border-right: 1px solid $word-2;
  animation: slideRight 0.2s;
  -moz-animation: slideRight 0.2s;
  -webkit-animation: slideRight 0.2s;
}

.side-bar-open-btn {
  position: fixed;
  top: 138px;
  left: 0;
  background: $primary;
  width: 1.3rem;
  height: 4rem;
  border-radius: 0 7px 7px 0;
  outline: 0;
  border: 0;
}

.side-bar-close-btn {
  border: 0;
  outline: 0;
  background: $bg-1;
  margin: 1rem 1rem 0 auto;
}

@include large-tablets {
  .side-bar-open-btn {
    display: none;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slideRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
