@import '../../styles/main.scss';

.footer-container {
  flex-basis: 100px;
  display: flex;
  justify-content: center;
}
footer {
  font-size: small;
  flex-basis: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
