.footer-container {
  height: 100px;
  display: flex;
  justify-content: center;
}
.footer {
  width: 950px;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
