@import '../../styles/main.scss';
@import '../../styles/variables.scss';
.search-box {
  position: relative;
  width: 150px;
  margin-right: 10px;
  input {
    width: 100%;
    padding: 3px 3px 3px 25px;
    border-radius: 50px;
    margin-top: 1.5px;
    &:focus {
      outline: none;
    }
  }
  i {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 6px;
  }
}

.search-result-container {
  border-radius: 7px;
  position: absolute;
  z-index: 999;
  padding: 10px 15px;
  top: 40px;
  width: 220%;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid;
}

.search-result-item {
  &:hover {
    .search-result-title {
      padding-left: 10px;
    }
  }
}

.search-result-title {
  font-weight: 500;
  margin: 2px 0px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid;
  transition: padding 0.3s, background-color 0.3s;
}
