@import '../../styles/main.scss';

.search-box {
  position: relative;
  margin-right: 10px;
  input {
    width: 150px;
    padding: 3px 3px 3px 25px;
    border-radius: 50px;
    margin-top: 1.5px;
    &:focus {
      outline: none;
    }
  }
  i {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 6px;
  }
}

.result-container {
  z-index: 999;
  padding: 1rem;
  position: absolute;
  background: $light;
  top: 3rem;
  width: 25rem;
  max-height: 25rem;
  overflow-y: scroll;
  border-radius: 6px;
}

.result {
  &-item {
    padding: 1rem;
    border-top: 1px solid $word-2;
    * {
      margin-top: 0.3rem;
    }
    &:hover {
      .result-title {
        font-weight: 500;
        color: #1d4d4d;
      }
    }
  }
  &-excerpt {
    font-size: small;
  }
  &-title {
    color: $primary;
    transition: 0.3s all;
    font: {
      weight: 500;
      size: large;
    }
  }
  &-tags {
    * {
      font-size: smaller;
      background: $word-2;
      color: $word-1;
      border-radius: 3px;
      margin-right: 0.2rem;
      padding: {
        top: 0.1rem;
        right: 0.3rem;
        bottom: 0.1rem;
        left: 0.3rem;
      }
    }
  }
}
