@import '../../styles/main.scss';
.nav-container {
  display: flex;
  justify-content: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  border: {
    bottom: 1px solid $word-2;
  }
}
.nav-bar {
  z-index: 999;
  padding: {
    top: 0.5rem;
    bottom: 0.5rem;
  }
  width: 953px;
  height: 1.7rem;
  background: $bg-1;
  color: $word-1;
}

.title {
  &:first-child {
    color: $primary;
    font: {
      size: larger;
      weight: 700;
    }
  }
  &-slug {
    margin: {
      left: 0.5rem;
    }
    color: $word-1;
    font: {
      size: x-small;
      style: oblique;
      weight: 500;
    }
  }
}

.search-box {
  margin: {
    left: auto;
  }
}

.menu {
  &-btn {
    display: none;
    margin: auto 0 auto auto;
  }
  &-btn {
    padding-top: 2px;
    &:hover {
      .mobile-nav-links {
        padding: 1rem;
        position: absolute;
        top: auto;
        right: 0.1rem;
        z-index: 999;
        background: $bg-1;
      }
    }
  }
}

.nav-links {
  margin: {
    top: auto;
    right: 1rem;
    bottom: auto;
    left: 3rem;
  }
  > * {
    font: {
      weight: 500;
    }
    color: $word-1;
    margin: {
      left: 1rem;
    }
    padding: {
      bottom: 0.2rem;
    }
    &.is-primary {
      color: $primary;
      border: {
        bottom: 0.15rem solid $primary;
      }
    }
    &:hover {
      color: $primary;
      border: {
        bottom: 0.15rem solid $primary;
      }
    }
  }
}

.mobile-nav-links {
  padding: 1rem;
  position: absolute;
  top: -999rem;
  right: 0.1rem;
  z-index: 999;
  background: $bg-1;
  border-radius: 4px;
  > * {
    color: #707070;
    padding: {
      top: 0.5rem;
      right: 1rem;
      bottom: 0.5rem;
      left: 0rem;
    }
    &.is-primary {
      color: $primary;
      border-bottom: 0.15rem solid $primary;
    }
  }
}

@media screen and (max-width: 883px) {
  .nav-bar {
    padding: {
      left: 1.5rem;
      right: 1rem;
    }
  }
  .nav-links {
    display: none;
  }
  .menu-btn {
    display: inline-block;
  }
  .search-box {
    display: none;
  }
}
