.side-bar-category {
  padding: 10px;
  button {
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    i {
      position: relative;
      margin-left: 3px;
      top: 1.3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div {
      display: flex;
      gap: 1px;
      position: relative;
      margin-left: 3px;
      font-size: 0.8rem;
      font-weight: 400;
      top: 1px;
    }
  }
}

.num-of-post {
  position: relative;
  top: 1px;
}
