.post-tags {
  padding-top: 5px;
  padding-bottom: 5px;
  div {
    display: inline-block;
    font-size: small;
    border-radius: 3px;
    padding: 2px 8px;
    margin-right: 9px;
    margin-bottom: 4px;
  }
}
