@import '../../styles/utils.scss';

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  width: 900px;
  overflow-x: hidden;
  padding: 60px 15px 0px 15px;
}

@include mobile {
  .main {
    padding: 60px 20px 0px 20px;
  }
}
